# Visual Studio files
*.sln
*.suo
*.user
*.userprefs
*.vs/

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
bin/
obj/

# NuGet packages
*.nupkg
packages/

# Visual Studio Code files
.vscode/

# User-specific files
*.ide
*.log
*.pdb
*.cache
*.sln.docstates
*.dbmdl

# Other
*.dbmdl
*.dbproj.schemaview